@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.header {
  background-color: $accent;
}
